
    <p>会社名：<%= @user.my_company %></p>
    <p>名前：<%= @user.my_name %></p>
    <p>パスワード：<%= @user.pass %></p>

<%= link_to "編集", edit_user_path %>

<%= link_to "ユーザ一覧にもどる", users_path %>

<%= link_to "削除", user_path(@user), data: {turbo_method: :delete} %>