<%= link_to 'マイページ', card_with_view_type_path(view_type: 'mypage', card_ids: @cards.pluck(:id).join(',')) %>
　<%= link_to 'ログアウト', root_path %>

<h1>名刺情報一覧</h1>

<!-- 検索機能 -->

<% @cards.each do |c| %>
    <p>・<%= c.company %></p>
    <p>・<%= c.name %></p>
    <p><%=link_to '詳細', show_card_path(c) %></p>
<% end %>