<%= link_to 'ログアウト', root_path %>　<%= link_to '新規追加', new_card_path %>

<h1>登録名刺一覧</h1>

<!-- 検索機能 -->

<% @cards.each do |c| %>
    <p>・<%= c.company %></p>
    <p>・<%= c.name %></p>
    <p><%=link_to '詳細', card_with_view_type_path(c.id, 'myshow') %></p>
<% end %>