<p>会社名：<%= @card.company %></p>
<p>氏名：<%= @card.company %></p>
<p>役職(肩書き)：<%= @card.company %></p>
<p>資格：<%= @card.company %></p>
<p>メールアドレス：<%= @card.company %></p>
<p>電話番号：<%= @card.company %></p>
<p>会社住所：<%= @card.company %></p>
<p>名刺画像：<%= get_image_path(@card.id) %></p>

<p><%= link_to '戻る', card_with_view_type_path(@card.id, 'mypage') %></p>

<p><%= link_to '編集', edit_path %>　<%= link_to '削除', card_path(@card.id), data: {turbo_method: :delete} %></p>