<p>会社名：<%= @card.company %></p>
<p>氏名：<%= @card.company %></p>
<p>役職(肩書き)：<%= @card.company %></p>
<p>資格：<%= @card.company %></p>
<p>メールアドレス：<%= @card.company %></p>
<p>電話番号：<%= @card.company %></p>
<p>会社住所：<%= @card.company %></p>

<% if @card.image.attached? %>
  <p>名刺画像：<%= image_tag url_for(@card.image), alt: "名刺画像", width: 200 %></p>
<% else %>
  <p>画像がありません。</p>
<% end %>

<p><%= link_to '戻る', cards_path %></p>